{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}

    {% if is_granted('ROLE_USER')%}

        <meta http-equiv="refresh" content="0; URL={{ path('home') }}" />

    {% endif %}


    <h1 class="">Camaras de sexo</h1>

    <div class="w-auto h-screen flex items-center justify-center">

    <div class="">
    <div class="w-min px-8 py-20 shadow-2xl shadow-black rounded-lg">

    <h2 class="text-2xl text-center">Login</h2>

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email</label>
        <input type="text" id="username" name="_username" value=" {{ last_username }}"/>

        <label for="password">Password</label>
        <input type="password" id="password" name="_password"/>

        <input type="hidden" name="_target_path" value="/home"/>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


        <button class="w-full h-10 mt-4 text-white bg-black" type="submit">login</button>
    </form>

        <p>I don't have an account <a href="{{ path('app_register') }}">sign up</a> </p>
    {% if error %}
        <div class="bg-hot-pink">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}
